  <div class="container-fluid">
    <div class="row" style="padding: 10px;">
      <div class="col-lg-2 panel well" style="height: 900px; padding: 10px;">
        <h1 style="padding: 10px;" data-bind="text: title"></h1>
      </div>
      <div class="col-lg-10 panel">
      </div>
    </div>
  </div>

<script>
(function() {

require(['js/app'], function(){});
})();
</script>
